<div class="home-wrapper">
  <div class="flexslider">
    <ul class="slides front-hero">
      <li style="background-color: #111c3d; background-image: url('https://download.unsplash.com/18/pups.JPG')">
        <div class="slide-text" id="hero-text">
          <h1>Animal Name</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
          <button>Button</button>
        </div>
      </li>
      <li style="background-color: #111c3d; background-image: url('http://animalpetdoctor.homestead.com/acat5.jpg')">
        <div class="slide-text" id="hero-text">
          <h1>Animal Name</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
          <button>Button</button>
        </div>
      </li>
      <li style="background-color: #111c3d; background-image: url('https://download.unsplash.com/photo-1421098518790-5a14be02b243')">
        <div class="slide-text" id="hero-text">
          <h1>Animal Name</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
          <button>Button</button>
        </div>
      </li>
      
    </ul>
  </div>
  <div class="home">
  </div>
</div>