// Utilities
@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

// Base
@import "base/typography";
@import "base/buttons";
@import "base/forms";
@import "base/lists";
@import "base/tables";

@import "static/home";
@import "shared/header";

html body {
  margin: 0;
  background-color: #FCFEF5;
}

.notice, .alert {
  background-color: #FCFEF5;
}

.main-wrapper {
  .wrapper {
    @include outer-container;
  }
}